*{
	Line-height: 1.618em;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

body {
   background-image: url("images/pageBckrnd.jpg");
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-size: cover;
}

header,
main {
	margin: 0 auto;
	max-width: 800px;
}



nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;

	display: flex;
	flex-flow: row;
	justify-content: center;

	font-family: sans-serif;
	background: #42597c;
}

nav ul {
	display: flex;
	list-style-type: none;
	color: white;
	font-size: 20px;
	flex-flow: row;
	justify-content: space-around;
	align-content: space-around;
}

nav a {
	background: #42597c;
}

nav li a:hover {
	height: 40px;
    background-color: #555;
    color: white;
}

header a {
	color: white;
	padding: .5em 2em;
	text-decoration: none;
} 


.grid-container {
  background-color: #aaa;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  grid-template-rows:300px 300px auto 350px auto auto;
  margin: 2rem auto;
  padding: 2px;
  max-width: 1000px;
  width 90%;
  box-shadow: 5px 6px 5px 1px #bbb;
} 


.grid-item {
	display: flex;
	align-items: center;
	justify-content: center;

	background-image: url("images/gray.jpg");
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-size: cover;
}

main ul {
	list-style-type: none;
}


.banner {
	grid-column: 1/-1;
	flex-direction: column;
	background-image: url("./images/bannerBack3.jpg");
	height: auto;
	background-position: center;
	background-size: cover;
}	

.banner-text h1 {
	font-size: 70px;
	font-family: 'Poiret One', sans-serif;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	padding-left: 125px;
}

.banner-text p {
	font-size: 60px;
	font-family: 'Poiret One', sans-serif;
	color: white;
	padding-left: 65px;	
}

.skills{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;

	font-size: 20px;
	font-family: 'Poiret One', sans-serif;
	color: white;
}


.JSImage {
	width: 225px;
	border-radius: 50%;	
	box-shadow: 5px 6px 5px 1px #bbb;
}

button {
	background-image: url("./images/gray3.jpg");
    border: none;
    color: white;
   	padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 75%;

}

button:hover {
  transform:scale(1.15);
}


.about, .contactInfo {
	display: flex;
	grid-column: 1/-1;
	flex-direction: row;
	padding: 20px;
	padding-right: 25px;
	padding-left: 25px;

	font-family: sans-serif;
	font-size: 18px;
	color: #334560;
	
}

.projectsBanner, .contactInfoBanner {
	grid-column: 1/-1;
	flex-direction: column;
	font-family: 'Poiret One', sans-serif;
	justify-content: center;
	color: white;
	background-image: url("./images/bannerBack3.jpg");
}

.projects {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}


h4 {
	font-family: sans-serif;
	font-size: 15px;
	color: white;
	font-weight: normal;
}

.content {
  display: flex;
  flex-direction: column;  
}

.contentImage {
  border-radius:95%;
  width: 200px;
  height: 200px;
  tansition: transform 400ms ease-out;
  box-shadow: 0.3rem 0.4rem rgba(0, 0, 0, 0.4);
 }

.contentImage:hover {
  transform:scale(1.15);
}




.contactInfo  {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: sans-serif;
}


h3{
	font-family: 'Poiret One', sans-serif;
	font-weight: bold
	font-size: 20px;
	color: white;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  margin: .1em;
}

.fa-github {
  background: #000;
  color: white;
  margin: .1em;
}


.footer {
	height: 40px;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: row;		
	font-family: sans-serif;
	background: #42597c;
	width: 100%;
	justify-content: space-around;
}

.footer p {
	color: white;
	font-size: 15px;
}


/*Bio Button*/
.bioModal {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    display: none; 
    height: 100%; 
    left: 0;
    overflow: auto; 
    padding-top: 100px; 
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1; 
}

.bioModal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    padding: 40px;
    width: 80%;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

/*Project 1*/
.modal1 {
	background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    display: none; 
    height: 100%; 
    left: 0;
    overflow: auto; 
    padding-top: 100px; 
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1; 
}

.modal1-content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    padding: 40px;
    width: 80%;

    font-family: sans-serif;
	font-size: 18px;
	color: #334560;
}

.close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

/*Project 2*/
.modal2 {
	background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    display: none; 
    height: 100%; 
    left: 0;
    overflow: auto; 
    padding-top: 100px; 
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1; 
}

.modal2-content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    padding: 40px;
    width: 80%;

    font-family: sans-serif;
	font-size: 18px;
	color: #334560;
}

.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

/*Project 3*/
.modal3 {
	background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    display: none; 
    height: 100%; 
    left: 0;
    overflow: auto; 
    padding-top: 100px; 
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1; 
}

.modal3-content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    padding: 40px;
    width: 80%;

    font-family: sans-serif;
	font-size: 18px;
	color: #334560;
}

.close3 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

/*Slide show for Project 3*/

.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}